.road{
    width: 100%;
    background: url('../img/road.jpg') no-repeat;
    min-height: 831px;
    background-size: cover;
    &__container{
        
    }
    &__body{
        max-width: 791px;
        // border:1px solid white;
    }
    &__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 53px;
    }
    &__btn{
        height: 50px;
        width: 198px;
        position: relative;
        &::before{
            display: block;
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            top:0;
            left: 0;
            z-index: 10;
            background: black;
        }
        &:hover &::before {
            width: 40%;
                            
        }
        
        
    }
    @media screen and(max-width:900px) {
        
        min-height: 700px;
       
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    background: #DB2512;
    color: #FFFFFF;
    
}